@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@400;700&family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Sigmar+One&display=swap');
* {
  margin: 0;
  padding: 0;
}



body {
  font-family: "Mohave", sans-serif;
 
 

  
}

h1{
 
  color:white;
  font-size: xx-large;
}


header {
background-image: url(/img/wavehero.png);
background-size: cover;

padding: 10px 0;
  
  font-family: 'Mochiy Pop P One', sans-serif;
  font-family: 'Sigmar One', cursive;
    width: 100%;
    height: 300px;
    
    font-size: 14px;
    text-align: center;
    color: wheat;

}

main {
  
  margin: 50px auto 80px;
  font-family: sans-serif;
  max-width: 990px;
  
}
h2 {
  text-align: center;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-family: 'Sigmar One', cursive;
}


form, .nav {
 
 
  display: grid;
  grid-template-columns: minmax(50px, 100px) 1fr  1.5fr 1fr 0.5fr; 
  margin-bottom: 5px;
  border: 1px solid #ccc;
  padding-left: 50px;
  border-radius: 20px;
  justify-content: space-evenly;
  width: 100%;
  
}  
.nav {
  background-color: #0099ff7a ;

  border-radius: 20px;
  margin-bottom: 10px;

}


  footer {
   
    color: white;
    padding: 100px 0;
    text-align: center;
    font-size: 12px;
    
    background-image: url(/img/waveFooter.png) ;
    background-size: cover;
  }
  footer a{
    color: #fff;
  }
  
  footer a:hover{
    color: rgb(65, 214, 225);
    text-decoration: none;
  }


