@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@400;700&family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Sigmar+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: "Mohave", sans-serif;
  background-image: url(https://github.com/floriana83/Archivio/blob/main/css/background.png?raw=true);
  

}

h1 {
  padding-top: 20px;

  font-size: 50px;
  color: rgb(18, 6, 175);
}


header {
  background-image: url(https://github.com/floriana83/Archivio/blob/main/css/wave__hero.png?raw=true);
  background-size: cover;

  padding: 10px 0;

  font-family: 'Mochiy Pop P One', sans-serif;
  font-family: 'Sigmar One', cursive;
  width: 100%;
  height: 350px;

  font-size: 14px;
  text-align: center;
  color: rgb(184, 179, 245);

}

main {

  margin: 50px auto 80px;
  font-family: sans-serif;
  max-width: 990px;

}

h2 {
  text-align: center;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-family: 'Sigmar One', cursive;
  padding-bottom: 20px;
  font-size: 30px;


}

#wrapperActive h2 {

  color: rgb(75, 221, 38);

}

#wrapperActive {
  border: 1px solid #ccc;
  /* width: 1000px; */
  border-radius: 10px 100px;
  margin-bottom: 20px;
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.452);

}

#wrapperInactive h2 {

  color: rgb(245, 112, 102);

}

#wrapperInactive {
  border: 1px solid #ccc;
  border-radius: 100px 10px;
  /* width: 1000px; */
  background-color: rgba(0, 0, 0, 0.452);
  padding: 60px;
}

input[type="radio"] {
  display: none;
}

form {
  display: grid;
  grid-template-columns: 0fr 1.2fr 1.2fr 1.2fr;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  padding: 10px 50px;
  border-radius: 5px 5px 15px 15px;
  justify-content: space-evenly;
  background-color: #fdfeff7a;
  /* width: 100%; */
  outline: none;
  text-decoration: none;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #0099ffab;
  border-radius: 15px 15px 5px 5px;
  margin-bottom: 10px;
  text-align: center;
  padding: 20px 100px 20px 10px;


}


footer {


  padding: 200px 0;


  background-image: url(https://github.com/floriana83/Archivio/blob/main/css/waveFooter.png?raw=true);
  background-size: cover;
  position: relative;

  /* height: 100px; */
}

footer a {
  color: rgb(42, 124, 248);
}

footer a:hover {
  color: rgb(121, 65, 225);
  text-decoration: none;
}

footer p {
  position: absolute;

  
  font-size: large;
  left: 30%;
}




/* /----- Smatphone -----*/

@media (max-width: 767px) {
  header {
    margin: -13px auto 45px;
    height: 162px;
    padding: 0;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    padding-bottom: 20px;
    font-size: 15px;
  }

  #wrapperActive,
  #wrapperInactive {
    padding: 22px;
  }

  #wrapperActive {
    border-radius: 10px 56px;
  }

  #wrapperInactive {
    border-radius: 56px 10px;
  }

  form {
    display: grid;
    grid-template-columns: 0fr 1fr 1.2fr 1fr;
    font-size: 8px;
    padding: 1px 5px;
    border-radius: 2px 2px 8px 8px;

  }

  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #0099ffab;
    border-radius: 15px 15px 5px 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 8px;
    padding: 5px 5px;

  }

  footer {
    padding: 64px 0;
  }

  footer p {
    font-size: xx-small;
    padding: 0;
    left: 15%;
  }

}